.container-fluid
  = render :partial => 'layouts/title', locals: { title: "New Blog" }
  .row
    .col-md-8.col-md-offset-1
      = render :partial => 'markdown/markdown_cheet_sheet_tabbed'
      %hr
  .row
    .col-md-6.markdown-preview
      = render partial: 'blog_post', locals: { title: true, blog: {  } }
    .col-md-6
      = render 'form'
      %hr
      = link_to 'Back', manage_projects_path