%div.container-fluid
  = render :partial => 'layouts/title', locals: { title: "Manage the Projects" }
  %div.row
    %div.col-md-3
    %div.col-md-6
      = link_to 'New Project', new_project_path
      -@projects.reverse.each do |project|
        %div.bottom-border
          %h2.text-center
            =project.title
          .text-center
            =link_to link_text(project), url_with_protocol(project[:link]), target: "_blank"
          .text-center
            =project.tags
          %div.text-center
            = link_to 'Show', project_path(project.id)
            :escaped
              ~
            = link_to 'Edit', edit_project_path(project)
            :escaped
              ~
            = link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
          %div.project-body
            %strong
              Description
            =markdown(project.description)
          %div.project-body
            %strong
              Details
            =markdown(project.details)
          %br