.container-fluid
  = render :partial => 'layouts/title', locals: { title: "New Project Post" }
  .row
    .col-md-6.col-md-offset-3
      = render :partial => 'markdown/markdown_cheet_sheet_tabbed'
      %hr
  .row
    .col-md-6.markdown-preview
      = render partial: 'project_post', locals: { project: { tags: [], description: '', details: '', link: '' } }
    .col-md-6
      = render 'form'
      %hr
      = link_to 'Back', manage_projects_path
