.container-fluid
  = render :partial => 'layouts/title', locals: { title: "New Project Post" }
  .row
    .col-md-8.col-md-offset-2
      = render :partial => 'markdown/markdown_cheet_sheet_tabbed'
      %hr
  .row
    .col-md-6.markdown-preview
      %h1.text-center ~~~~Preview~~~~
      = render partial: 'project_post', locals: { title: true, project: { id: @project["id"], title: @project["title"], tags: @project["tags"], link: @project["link"], description: @project["description"], details: @project["details"] } }
      %h1.text-center ~~~~~~~~~~~~~~~
    .col-md-6
      = render 'form'
      %hr
      = link_to 'Back', manage_projects_path
