= form_tag("/send_contact", method: "post", class: "form") do
  .container-fluid
    .row
      .col-md-12
        %div.form-group
          = label_tag(:name_label, "Name:")
          = text_field_tag(:name, nil, class: "form-control")
        %div.form-group
          = label_tag(:contact_info_label, "Contact info:")
          .row
            .col-md-4
              %select.form-control{:name => "contact_type"}
                %option{:selected => "selected",:value => "email"} Email
                %option{:value => "phone-call"} Phone Call
                %option{:value => "phone-text"} Phone Text
                %option{:value => "other"} Other
            .col-md-8
              = text_field_tag(:contact_info, nil, class: "form-control")
        %div.form-group
          = label_tag(:body_label, "Reason for contact:")
          = text_area_tag(:body, nil, class: "form-control")
        %div.form-group
          = recaptcha_tags
        %div.form-group
          .actions
            = submit_tag("Send Question",class: 'btn btn-default')